name: Build Prod

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
permissions:
  contents: write

# DOCKER_REGISTRY
# DOCKER_USERNAME
# DOCKER_PASSWORD
# DOCKER_NAMESPACE
# DOCKER_IMAGE_NAME

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: ${{ vars.DOCKER_REGISTRY }}
      DOCKER_NAMESPACE: ${{ vars.DOCKER_NAMESPACE }}
      DOCKER_IMAGE_NAME: ${{ vars.DOCKER_IMAGE_NAME }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      SSH_HOST: ${{ secrets.SSH_HOST }}
      # SSH_PORT: ${{ secrets.SSH_PORT }}
      # SSH_USERNAME: ${{ secrets.SSH_USERNAME }}
      # SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
    steps:
      - name: Set output
        id: vars
        run: |
          echo "short_ref=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      - name: 显示环境变量
        run: |
          echo "环境变量：$DOCKER_USERNAME"
          echo "环境变量：$DOCKER_PASSWORD"
          echo "环境变量：$DOCKER_NAMESPACE"
          echo "环境变量：$DOCKER_IMAGE_NAME"

      - name: 拉取代码
        uses: actions/checkout@v4

      - name: 设置 QEMU
        uses: docker/setup-qemu-action@v3

      - name: 设置 buildx 构建器
        uses: docker/setup-buildx-action@v3

      - name: 登录私有docker服务器
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: 构建并推送多架构镜像到私有docker服务器
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_NAMESPACE }}/${{ env.DOCKER_IMAGE_NAME }}:latest
            ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_NAMESPACE }}/${{ env.DOCKER_IMAGE_NAME }}:${{steps.vars.outputs.short_ref}}
          cache-from: type=registry,ref=${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_NAMESPACE }}/${{ env.DOCKER_IMAGE_NAME }}:cache
          cache-to: type=inline

      - name: 登录生产服务器拉取镜像并运行
        if: env.SSH_HOST != ''
        uses: garygrossgarten/github-action-ssh@release
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          command: |
            echo ${{env.DOCKER_PASSWORD}} | docker login -u ${{env.DOCKER_USERNAME}} --password-stdin ${{env.DOCKER_REGISTRY}}
            docker pull ${{env.DOCKER_REGISTRY}}/${{env.DOCKER_NAMESPACE}}/${{env.DOCKER_IMAGE_NAME}}:${{steps.vars.outputs.short_ref}}
            echo "拉取镜像成功"
